@import "../components/footer.css";
@import "../components/header.css";

body {
  margin: 0;
  background-color: cornflowerblue;

  /*min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  display: flex;*/

  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.person-name {
  font-family: 'poppins' , sans-serif;
  color: crimson;
  margin-left: 18px;
  font-size: 32px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: 'poppins';
  font-weight: bold;
  align-items: center;
  margin-top: 0px;
}

#nav-items {
  font-family: 'Roboto';
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}

.main-image {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.details {
  margin-top: 10px;
  font-family: 'poppins';
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  /*overflow: hidden; 
  border-right: .15em solid orange; 
  white-space: wrap;
  margin: 0 auto; /* Gives that scrolling effect as the typing happens 
  letter-spacing: .15em; /* Adjust as needed 
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;*/
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}